<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/jane-austen.jpg" class="author" width="80%">
      </div>
      <div>
        <em>
          <a class="attribution-link" href="https://www.freeimages.com/photo/portrait-of-jane-austen-1890759"
            target="blank">FreeImages</a>
        </em>
      </div>
    </div>
  </div>


  <div fxFlex>
    <h1 class="blue">Who was Jane Austen?</h1>
    <p>
      Jane Austen (1775-1817) was an English novelist known for her many romance works that also touched on and
      critiqued the English societal norms of the time. She was more non-traditional in her ways of education as women were taught
      foreign language, music, and dancing rather than literature. Her father and brothers supported her education in what they
      knew of literature and writing. Her father supplied her writing materials and supported her creativity as she explored
      her own creative writing with poems, plays, and novels. During her years in boarding school in 1799, she wrote First
      Impressions which was later known under a different name as her most known work, Pride and Prejudice.
    </p>
  </div>
</div>
