<div class="card signin-container">
  <div class="card-body">
    <h3 class="card-title">Sign in</h3>
    <form class="card-text">
      <div class="mb-3">
        <label for="txtUserName" class="form-label">Username</label>
        <input type="text" class="form-control" id="txtUserName" placeholder="Enter your username">
      </div>
      <div class="mb-3">
        <label for="txtPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="txtPassword" placeholder="Enter password">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary float-end" (click)="signIn()">Submit</button>
      </div>
    </form>
  </div>
</div>
