<div class="container">
  <h2 class="text-center">Antonio Vivaldi</h2>
  <hr>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <picture class="vivaldi">
        <source srcset="https://pixabay.com/photos/vivaldi-antonio-vivaldi-composer-5221554/" type="image/jpg+xml">
        <img src="../assets/vivaldi.jpg" class="img-fluid img-thumbnail" alt="antonio vivaldi">
        <figcaption>
          <small class="text-body-secondary"><em>Source: Pixabay</em></small>
        </figcaption>
      </picture>
    </div>
    <div class="col-sm-8">
      <p class="lead">
        Antonio Vivaldi was an Italian composer whose music primarily focused on the Baroque era. He was a violinist so
        most compositions had a preference for the instrument, though he also wrote many operas and choral work. He
        composed many concertos for a variety of instruments but he is most remembered for his violin concertos, the
        most famous on being the Four Seasons. He enjoyed teaching music to the students at the orphanage, Ospedale
        della Pietà, where he aimed to give them education in hopes for a brighter future for them.
      </p>
    </div>
  </div>
