<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>
          1234 Cherry Lane
        </p>
        <p>
          Lake Buena Vista, Florida
        </p>
        <p>
          32830
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>
          Direct: 999-123-4567
        </p>
        <p>
          Toll-free: 1-888-999-9999
        </p>
        <p>
          Fax: 999-999-9999
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center;">
    Visit us online or at one of our many great locations throughout the Lake Buena Vista area!
  </p>
</div>
