<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/composer-list">Composer List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br /><br />
  <h1>Composer App</h1>
  <br /><br />
  <br /><br />
</div>

<router-outlet></router-outlet>
